@font-face {
    font-family: 'Avenir';
    src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.eot');
    src: url('../assets/fonts/Avenir/AvenirLTStd-Roman.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'),
        url('../assets/fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman')
            format('svg');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-Regular.eot');
    src: url('../assets/fonts/Inter/Inter-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../assets/fonts/Inter/Inter-Regular.woff') format('woff'),
        url('../assets/fonts/Inter/Inter-Regular.svg#Inter-Regular')
            format('svg');
}

body {
    background: #fafafa;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    height: 100%;
}

.header-container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 32px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #383838;
}

.header button {
    font-size: 16px;
    padding: 8px 36px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 36px;
    margin-top: 12px;
    background: #ffffff;
    cursor: pointer;
}

.header button:hover {
    background-color: whitesmoke;
}

.topping-selector {
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
    line-height: 48px;
    text-align: center;
    color: #383838;
}

.heading2 {
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    color: #383838;
    padding-bottom: 12px;
}

.heading3 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    line-height: 16px;
    letter-spacing: 1.25px;
    color: #8c8c8c;
    text-transform: uppercase;
}

.error-message {
    margin: 0;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #c42e2e;
}

.chat-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.chat-body{
    width: 100%;
    max-width: 800px;
    border: 1px solid #383838;
    border-radius: 20px;
    margin-bottom: 40px;
}

.chat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #383838;
}

.chat-key{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: center;
}

.chat-delete{
    position: absolute;
    right: 20px;
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 36px;
    /* margin-top: 12px; */
    background: firebrick;
    color: #fafafa;
    cursor: pointer;
}

.chat-delete:hover{
    opacity: 0.8;
}
.chat-component{
    padding: 0 20px;
}

.chat-component__message{
    display: flex;
    position: relative;
    padding: 20px 0;
    margin-bottom: 20px;
}

.chat-component__message:nth-child(even){
    justify-content: flex-end;
}

.chat-component__message:nth-child(even) > .message__text > .message__text-username{
    text-align: right;
}

.chat-component__message:nth-child(even) > .message__text > .message__text-message{
    text-align: right;
}

.message__text{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.message__text-username{
    margin-bottom: 3px;
    font-family: Arial;
    font-size: 14px;
}

.message__text-message{
    width: auto;
    color: #fafafa;
    background-color: #2929ff;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial;
    font-size: 16px;
}

.message__time{
    margin: 0;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    font-family: Arial;
}

.chat-footer{
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #383838;
}

.chat-input{
    border: none;
    height: 30px;
    width: 100%;
    margin-right: 20px;
    padding: 2px 15px;
    border-radius: 25px;
    background-color: gainsboro;
}

.chat-input:focus-visible{
    outline: none;
}

.chat-send{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 36px;
    /* margin-top: 12px; */
    background: #4949ff;
    color: #fafafa;
    cursor: pointer;
}

.chat-send:hover{
    opacity: 0.8;
}